body {
  margin:0;
}


/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  /*
  right:;
  bottom ;
  left: ;

  background-color: white;
  */
}

.headerNav {
  display: flex;
}

.navList {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding-left: 0;
}

.hamburgerIcon {
  display: none;
}

/* MAIN */

.parallaxEffect {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;
}

.parallaxImage {
  background-image: url("/Images/bilde1paralax.jpg");
}

.parallaxImage2 {

  background-image: url("/Images/bilde2paralax.jpg");
}

.parallaxImage3 {
  background-image: url("/Images/bilde3paralax.jpg");
  /* background-size: contain;
  background-repeat: no-repeat; */
  /* background-position: bottom; */
}
.parallaxText {
  display:flex;
  flex-direction: column;
  align-items: center;
  /* background-color: burlywood; */
  box-shadow:5px 0px 20px 10px white;


}

.toTop {
  
  display:flex;
  justify-content: flex-end;
  position:relative;
  right:85px;
  bottom: 15px;

}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA */
@media (max-width: 769px) {
  header {
    align-items: flex-start;
  }

  .headerNav {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navList {
    display: none;
  }

  .hamburgerIcon {
    display: flex;
  }
}
